@charset "utf-8";

th{
    color:#000000;
    background:#d0d0d0;
  }

  .suuryou_width{
    border-left:5px #000000;
    width: 20%; 
  }

  .table{
      width: 600px;
  }

  input{
   color:#ffffff   
  }

  .blue_button{
    background:	#1e1eff;
    
  }
  .blue_button:hover
{
	background: #7c7cf8 !important;
}